<div class="container">
    <div class="background">
        <form (ngSubmit)="newChannel(newChannelForm)" [formGroup]="newChannelForm" autocomplete="off">
            <div class="center">
                <h2>Create A Channel</h2>
                <div class="bothSides">
                    <p>Channel Name</p>
                    <div class="channelName">
                        <mat-form-field appearance="fill">
                            <mat-label>Channel Name</mat-label>
                            <label for="channelName"></label
                            ><input
                                class="form-control"
                                formControlName="channelName"
                                id="channelName"
                                matInput
                                name="channelName"
                                required
                                type="text"
                        />
                            <mat-error *ngFor="let validation of common.validation_methods.channelName">
                                <mat-error
                                        *ngIf="
                                        formValidationService.checkIfFormElementInvalid(
                                            newChannelForm,
                                            'channelName',
                                            validation,
                                            submitAttempt
                                        )
                                    "
                                >{{ validation.message }}
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <p>Channel Type</p>
                    <div class="channelType">
                        <mat-radio-group formControlName="channelType">
                            <mat-radio-button value="public">Public</mat-radio-button>
                            <mat-radio-button value="private">Private</mat-radio-button>
                        </mat-radio-group>
                        <mat-error *ngFor="let validation of common.validation_methods.channelType">
                            <mat-error
                                    *ngIf="
                                    formValidationService.checkIfFormElementInvalid(
                                        newChannelForm,
                                        'channelType',
                                        validation,
                                        submitAttempt
                                    )
                                "
                            >{{ validation.message }}
                            </mat-error>
                        </mat-error>
                    </div>
                    <p>Channel Bio</p>
                    <div class="channelBio">
                        <textarea
                            class="inputArea"
                            formControlName="content"
                            cdkTextareaAutosize
                            matInput name="editContent"></textarea>
<!--                        <mat-error *ngFor="let validation of common.validation_methods.channelName">-->
<!--                            <mat-error-->
<!--                                *ngIf="-->
<!--                                        formValidationService.checkIfFormElementInvalid(-->
<!--                                            newChannelForm,-->
<!--                                            'channelName',-->
<!--                                            validation,-->
<!--                                            submitAttempt-->
<!--                                        )-->
<!--                                    "-->
<!--                            >{{ validation.message }}-->
<!--                            </mat-error>-->
<!--                        </mat-error>-->
                    </div>

                </div>
            </div>
            <div class="center">
                <button (click)="onClose()" class="btn btn-primary" mat-raised-button type="submit">
                    Cancel
                </button>
                <button class="btn btn-primary" mat-raised-button type="submit">Create</button>
            </div>
        </form>
    </div>
</div>
