.leftSide{
    margin-top: 3rem;
    display:inline-block;
    margin-right: 2rem;
}
.rightSide{
    margin-top: 3rem;
    display:inline-block;
}
mat-radio-button{
    padding-bottom: 10px;
    display: block;
}
button{
    margin-right: 5px;
    text-align: center;
}
