
.center {
    text-align: center;
}

//.leftSide {
//    float: left;
//    margin-top: 0.9em;
//}
//
//.rightSide {
//    float: left;
//    margin-left: 5em;
//}
.channelName {

}

mat-form-field {
    width: 20em;
}

.bothSides:after {
    content: "";
    display: table;
    clear: both;
    text-align: center;
}

mat-radio-button {
    padding-bottom: 1em;
    display: block;
}

button {
    margin-top: 1em;
    margin-right: 0.5em;
    text-align: center;
}

.channelType {
    text-align: center;
}

mat-radio-group {
    display: inline-block;
}

p {
    font-size: 1.2em;
}
