$float: left;
$margin: auto;
$display-style: table;
.mat-display-2 {
    margin-top: 3rem;
    text-align: center;
}

.form-group {
    float: $float;
    margin: 1rem;
}

.random {
    margin-right: $margin;
    margin-left: $margin;
    display: $display-style;
    text-align: center;
}

.btn-primary {
    margin-right: $margin;
    margin-left: $margin;
    display: $display-style;
    text-align: center;
}

.mat-body {
    text-align: center;
}

mat-form-field {
    margin-bottom: 2rem;
}

mat-hint {
    text-align: end;
}
