/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.navbar {
    justify-content: space-between;
}

html,
body {
    overflow: hidden;
}

.cdk-overlay-pane {
    margin-top: 3rem;
    margin-right: 500em;
}

.mat-select-panel {
    border-radius: 0 !important;
}

.dropped {
    transform: rotate(180deg);
}
