<div *ngIf="userLoggedIn; else elseBlock" id="home">
    <app-header
        (newChannelEvent)="receiveNewSubbedChannel($event)"
        (notificationChannelEvent)="updateFromNotification($event)"
        (profileViewEvent)="updateProfile($event)"
        (sideBarToggleEvent)="toggleSidebarOpen()"
        (switchEvent)="updateDisplay($event)"
        [currentUserProfile]="currentUserProfile"
    >
    </app-header>
    <mat-sidenav-container class="container">
        <mat-sidenav
            #sidenav
            [(opened)]="sidebarOpened"
            [fixedBottomGap]="options.value.bottom"
            [fixedInViewport]="!!options.value.fixed"
            [fixedTopGap]="options.value.top"
            class="sidenav"
            mode="side"
        >
            <app-sidebar
                (channelEvent)="receiveId($event)"
                (newChannelEvent)="addNewChannel($event)"
                (newUserSubbedChannelEvent)="setNewUserSubbedChannel($event)"
                (profileViewEvent)="updateProfile($event)"
                (switchEvent)="updateDisplay($event)"
                [currentUserProfile]="currentUserProfile"
                [newBannedUser]="newBannedUser"
                [notificationChannel]="notificationChannel"
                [subbedChannel]="newSubbedChannel"
                [userList]="userList"
            ></app-sidebar>
        </mat-sidenav>
        <mat-sidenav-content [formGroup]="options" class="scrollMe">
            <div class="scrollMe">
                <div [ngSwitch]="display" class="scrollMe">
                    <div *ngSwitchCase="'channelBrowser'" class="scrollMe">
                        <app-channel-browser
                            (newChannelIdEvent)="receiveNewSubbedChannel($event)"
                            [currentUserProfile]="currentUserProfile"
                            [newChannel]="newAddedChannel"
                            class="scrollMe"
                        ></app-channel-browser>
                    </div>
                    <div *ngSwitchCase="'chatBox'" class="scrollMe">
                        <app-chatbox
                            (newBannedUserEvent)="handleNewBannedUserEvent($event)"
                            (profileViewEvent)="updateProfile($event)"
                            [currentChannel]="selectedChannelId"
                            [currentUserProfile]="currentUserProfile"
                            [newUserSubbedChannel]="newUserSubbedChannel"
                            [onlineUserList]="onlineUserList"
                            [settings]="settings"
                            [userList]="userList"
                            class="scrollMe"
                        ></app-chatbox>
                    </div>
                    <div *ngSwitchCase="'profile'" class="scrollMe">
                        <app-profile
                            (profileUpdateEvent)="getUpdatedProfile()"
                            [profileView]="profileView"
                        ></app-profile>
                    </div>
                    <div *ngSwitchCase="'settings'" class="scrollMe">
                        <app-settings
                            (explicitEvent)="setExplicit($event)"
                            (themeEvent)="changeTheme($event)"
                            [settings]="settings"
                            [userProfile]="currentUserProfile"
                        >
                        </app-settings>
                    </div>
                    <div *ngSwitchCase="'userGuide'" class="scrollMe">
                        <app-user-guide
                            (explicitEvent)="setExplicit($event)"
                            (themeEvent)="changeTheme($event)"
                        >
                        </app-user-guide>
                    </div>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
<ng-template #elseBlock>{{ common.routeTo("/login") }}</ng-template>
