<div id="home">

    <app-header></app-header>
    <mat-sidenav-container class="container">
        <mat-sidenav [fixedBottomGap]="options.value.bottom" [fixedInViewport]="options.value.fixed"
                     [fixedTopGap]="options.value.top"
                     class="sidenav" mode="side"
                     opened>
            <app-sidebar (channelIdEvent)="receiveId($event)"
                         (channelNameEvent)="receiveName($event)" (newChannelEvent)="addNewChannel($event)" [subbedChannel]="newSubbedChannel"></app-sidebar>
        </mat-sidenav>

        <mat-sidenav-content [formGroup]="options" id="scrollMe">

            <div *ngIf="userLoggedIn; else elseBlock">
                <button (click)="this.messagesShown = true" *ngIf="this.messagesShown == false" id="tempMessage"
                        mat-button>Back to
                    messages
                </button>
                <button (click)="this.messagesShown = false" *ngIf="this.messagesShown == true" id="tempChannelBrowser"
                        mat-button>Back to Channel
                    Browser
                </button>
                <app-channel-browser (newChannelIdEvent)="receiveNewSubbedChannel($event)" [newChannel]="newAddedChannel"
                                     *ngIf="this.messagesShown == false"></app-channel-browser>
                <app-chatbox *ngIf="this.messagesShown == true" [channelId]="selectedChannelId"
                             [channelName]="selectedChannelName"></app-chatbox>
            </div>
            <ng-template #elseBlock>{{common.routeTo("/login")}}</ng-template>
        </mat-sidenav-content>
    </mat-sidenav-container>


</div>
