.container {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--background-color);
    overflow: hidden;
}

.sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    border: none;
    overflow: hidden;
}

app-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
    background-color: var(--primary-color);
}

#home {
    overflow: hidden;
}

.scrollMe {
    overflow: hidden;
    height: 100%;
    padding: 0px !important;
}
