.container{
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #5280e9;
  overflow: hidden;
}
.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  border:none;
  overflow: hidden;

}
app-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
}

#chatbox {
  //display: flex;
  overflow: hidden;
}

#home {
  overflow: hidden;
}

.mat-drawer-content {
  overflow-y: scroll;
}
