.container{
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}
.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;

}
app-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
