<header>
    <mat-toolbar class="navbar">
        <div>Streamline Athletes</div>

        <div *ngIf="userLoggedIn">
            <div class="headInfo">
                {{ user.username }}
                <mat-select (closed)="unDrop()" (opened)="drop()" disableOptionCentering>
                    <mat-option>
                        <logout-form></logout-form>
                    </mat-option>
                </mat-select>
            </div>
            <div></div>
        </div>
    </mat-toolbar>
</header>
