mat-toolbar {
    background-color: var(--soft-black);
    color: white;
}

mat-option {
    background: #000000;
    color: white;
    width: 100%;
}

::ng-deep .mat-select-content {
    width: 2000px;
    background-color: red;
    font-size: 10px;
}

.mat-select {
    width: auto;
    border-radius: 0% !important;
}

.mat-option {
    background: var(--soft-black);
    color: white;
    text-align: center;
    padding-right: 0.2vw;
    padding-left: 0.2vw;
}

.mat-option:hover {
    background-color: var(--primary-color);
}

::ng-deep .cdk-overlay-pane {
    margin-top: 3rem;
}
.headInfo {
    display: inline;
}
.headInfo:hover {
    cursor: pointer;
}
#notification {
    display: inline;
    margin-left: 1vw;
}
#notificationBell {
    position: absolute;
    right: 0.95vw;
    top: 2vh;
}

#notification {
    ::ng-deep {
        .mat-select-arrow {
            visibility: hidden;
        }
    }
}
