header {
    background-color: var(--primary-color);
    color: white;
    vertical-align: center;
}

#title {
    vertical-align: center;
    margin-left: 0.5rem;
    font-size: 1em;
    display: inline;
    position: relative;
    top: 1rem;
}

//mat-option {
//    background: #000000;
//    color: white;
//    width: 100%;
//}
//
//::ng-deep .mat-select-content {
//    width: 2000px;
//    background-color: red;
//    font-size: 10px;
//}
//
//.mat-select {
//    width: auto;
//    border-radius: 0% !important;
//}
//
//.mat-option {
//    background: var(--soft-black);
//    color: white;
//    text-align: center;
//    padding-right: 0.2vw;
//    padding-left: 0.2vw;
//}
//
//::ng-deep .cdk-overlay-pane {
//    margin-top: 3rem;
//}
.floater {
    float: right;
    min-width: 50px;
    display: inline;
}

.headInfo {
    display: inline;
    position: relative;
    bottom: 1rem;
    width: 5%;
    margin-left: 7vw;
    margin-right: -2.5%;
}

#notification {
    display: inline;
    position: relative;
    bottom: 1rem;
    width: 1%;
    background-color: var(--primary-color);
}

#username {
    margin-right: 1vw;
    z-index: 1;
}

.userMenu {
    background-color: var(--primary-color);
    color: white;
    border-radius: 0%;
    left: 0 !important;
    height: 22vh;
}
a {
    width: 100%;
}
a:hover {
    background-color: var(--primary-color);
    border-radius: inherit;
    margin-right: 2rem;
}

.wrapButton {
    width: 95%;
    float: right;
}

button {
    margin-left: 1vw;
}

button:hover {
    background-color: var(--primary-color);
    border-radius: 0;
}

::ng-deep .mat-menu-panel {
    background-color: var(--primary-color);
    border-radius: 0px !important;
    color: white;
    padding: 0px !important;
    max-width: none !important;
    overflow: scroll;
    position: absolute;
    right: 5rem;
}

::ng-deep .mat-menu-item {
    overflow: scroll;
}

::ng-deep .mat-menu-item {
    padding: 0px !important;
    background-color: var(--primary-color);
}

.notificationOption mat-card {
    background-color: var(--primary-color);
    color: white;
    border-radius: 0%;
}

#notificationList {
    max-height: 25rem;
    overflow: auto;
    top: 6vh;
    z-index: 100;
    position: fixed;
    right: 0%;
    width: 21rem;
    background-color: var(--primary-color);
    font-size: 1rem;
    border-top: 1px solid black;

}

#notificationList mat-card .mat-card-title {
    font-size: 0.75rem;
}

#notificationList mat-card {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-radius: 0%;
    background-color: var(--primary-color);
    color: white;
}

.inviteButtons {
    position: absolute;
    right: 1%;
    top: 48%;
    font-size: 0.75rem;
}

.inviteButton {
    font-size: 0.75rem;
    border-radius: 0%;
}

.inviteButton:hover {
    background-color: var(--primary-color);
}

.title {
    margin-left: 10px;
    color: white;
}

#notification {
    ::ng-deep {
        .mat-select-arrow {
            visibility: hidden;
        }
    }
}


mat-label {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 50%;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    background: var(--secondary-color)
}

mat-icon {
}
