<header (click)="toggleOpen()">
    <div id="title">Streamline Athletes</div>

    <div class="wrapButton" *ngIf="userLoggedIn">
        <div class="floater">
<!--            <div style="width: 1000px float:right margin:auto">-->
                <div (click)="triggerSelect()" class="headInfo">
                    <button id="username" [mat-menu-trigger-for]="userMenu" mat-button>{{ user.username }}</button>
                    <mat-menu
                        #mySelect
                        #userMenu="matMenu"
                        (click)="triggerSelect()"
                        (closed)="unDrop()"
                        (drop)="drop()"
                        class="menuList"
                        disableOptionCentering
                        disabled
                        xPosition="after"
                    >
                        <div class="userMenu" mat-menu-item>
                            <a (click)="switchDisplay(channelBrowser)" mat-button type="submit">Browse Channels</a> <br>
                            <a (click)="switchDisplay(profile)" mat-button type="submit">Profile</a> <br>
                            <a (click)="switchDisplay(channelBrowser)" mat-button type="submit">Settings</a> <br>
                            <logout-form></logout-form>

                        </div>
                    </mat-menu>
                </div>
                <div class="userMenu" id="notification">
                    <button (click)="toggleOpen()" mat-button>
                        <mat-icon>notifications</mat-icon>
                        <mat-label *ngIf="notificationCount > 0">{{ notificationCount }}</mat-label>
                    </button>
                </div>
        </div>
    </div>
</header>
<div *ngIf="open" id="notificationList">
    <div *ngIf="publicInvites.length > 0">
        <span class="title">Public Invites</span>
        <div *ngFor="let notification of publicInvites">
            <div class="notificationOption">
                <mat-card>
                    <mat-card-title>{{ notification.message }}</mat-card-title>
                    <br/>
                    <div class="inviteButtons">
                        <button (click)="acceptInvite(notification)" class="inviteButton" mat-button>Accept</button>
                        <button (click)="denyInvite(notification)" class="inviteButton" mat-button>Deny</button>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
    <div *ngIf="privateInvites.length > 0">
        <span class="title">Private Invites</span>
        <div *ngFor="let notification of privateInvites">
            <div class="notificationOption">
                <mat-card>
                    <mat-card-title>{{ notification.message }}</mat-card-title>
                    <br/>
                    <div class="inviteButtons">
                        <button (click)="acceptInvite(notification)" class="inviteButton" mat-button>Accept</button>
                        <button (click)="denyInvite(notification)" class="inviteButton" mat-button>Deny</button>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
    <div *ngIf="friendInvites.length > 0">
        <span class="title">Friend Invites</span>
        <div *ngFor="let notification of friendInvites">
            <div class="notificationOption">
                <mat-card>
                    <mat-card-title>{{ notification.message }}</mat-card-title>
                    <br/>
                    <div class="inviteButtons">
                        <button (click)="acceptInvite(notification)" class="inviteButton" mat-button>Accept</button>
                        <button (click)="denyInvite(notification)" class="inviteButton" mat-button>Deny</button>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
    <mat-card *ngIf="privateInvites.length == 0 && publicInvites.length == 0 && friendInvites.length == 0" disabled>
        <mat-card-title>No notifications</mat-card-title>
    </mat-card>
</div>
