<div class="header">
    <div id="title">Streamline Athletes</div>

    <div *ngIf="userLoggedIn" class="wrapButton">
        <div class="floater">
            <!--            <div style="width: 1000px float:right margin:auto">-->
            <div class="headInfo">
                <button [mat-menu-trigger-for]="userMenu" id="username" mat-button>{{ user.username }}</button>
                <mat-menu #userMenu="matMenu" class="menuList" disableOptionCentering disabled xPosition="after">
                    <div class="userMenu">
                        <a (click)="switchDisplay(channelBrowser)" type="submit">Browse Channels</a> <br/>
                        <a (click)="switchDisplay(profile)" type="submit">Profile</a> <br/>
                        <a (click)="switchDisplay(settings)" type="submit">Settings</a> <br/>
                        <logout-form></logout-form>
                    </div>
                </mat-menu>
            </div>
            <div class="userMenu" id="notification">
                <button (click)="toggleOpen()" mat-button>
                    <mat-icon>notifications</mat-icon>
                    <mat-label *ngIf="notificationCount > 0">{{ notificationCount }}</mat-label>
                </button>
            </div>
        </div>
    </div>
</div>
<div (clickOutside)="toggleOpen()" *ngIf="open" delayClickOutsideInit="true" id="notificationList">
    <div *ngIf="publicInvites.length > 0">
        <span class="title">Public Invites</span>
        <div *ngFor="let notification of publicInvites">
            <div class="notificationOption">
                <mat-card>
                    <mat-card-title>{{ notification.message }}</mat-card-title>
                    <br/>
                    <div class="inviteButtons">
                        <button (click)="acceptInvite(notification)" class="inviteButton" mat-button>Accept</button>
                        <button (click)="denyInvite(notification)" class="inviteButton" mat-button>Deny</button>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
    <div *ngIf="privateInvites.length > 0">
        <span class="title">Private Invites</span>
        <div *ngFor="let notification of privateInvites">
            <div class="notificationOption">
                <mat-card>
                    <mat-card-title>{{ notification.message }}</mat-card-title>
                    <br/>
                    <div class="inviteButtons">
                        <button (click)="acceptInvite(notification)" class="inviteButton" mat-button>Accept</button>
                        <button (click)="denyInvite(notification)" class="inviteButton" mat-button>Deny</button>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
    <div *ngIf="friendInvites.length > 0">
        <span class="title">Friend Invites</span>
        <div *ngFor="let notification of friendInvites">
            <div class="notificationOption">
                <mat-card>
                    <mat-card-title>{{ notification.message }}</mat-card-title>
                    <br/>
                    <div class="inviteButtons">
                        <button (click)="acceptInvite(notification)" class="inviteButton" mat-button>Accept</button>
                        <button (click)="denyInvite(notification)" class="inviteButton" mat-button>Deny</button>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
    <mat-card *ngIf="privateInvites.length == 0 && publicInvites.length == 0 && friendInvites.length == 0" disabled>
        <mat-card-title>No notifications</mat-card-title>
    </mat-card>
</div>
