


<mat-sidenav-container>
  <mat-button-toggle-group class ="channelSelector">
  <mat-button-toggle checked (click)="selectPublicChannel()">Public</mat-button-toggle>
  <mat-button-toggle (click)="selectPrivateChannel()">Private</mat-button-toggle>
  <mat-button-toggle (click)="selectFriend()">Friend</mat-button-toggle>
  </mat-button-toggle-group>

 <div *ngIf="publicChannelSelect;">
    <mat-list >
        <mat-list-item class ="channelHeader"><h3 matLine>Channel 1</h3>
          <a routerLink="/chat">
            <mat-icon>settings
            </mat-icon>
          </a>
          <a routerLink="/delete">
            <mat-icon>clear
            </mat-icon>
          </a>
        </mat-list-item>
        <mat-list-item class ="channelHeader"><h3 matLine>Channel 2</h3>
          <a routerLink="/chat">
            <mat-icon>settings
            </mat-icon>
          </a>
          <a routerLink="/delete">
            <mat-icon>clear
            </mat-icon>
          </a>
        </mat-list-item>
        <mat-list-item class ="channelHeader"><h3 matLine>Channel 3</h3>
            <a routerLink="/chat">
              <mat-icon>settings
              </mat-icon>
            </a>
            <a routerLink="/delete">
              <mat-icon>clear
              </mat-icon>
            </a>
          </mat-list-item>
    </mat-list>
    </div>
    <div *ngIf = "privateChannelSelect">
    <mat-list>
        <mat-list-item class ="channelHeader"><h3 matLine>Private Channel 1</h3>
          <a routerLink="/chat">
            <mat-icon>settings
            </mat-icon>
          </a>
          <a routerLink="/delete">
            <mat-icon>clear
            </mat-icon>
          </a>
        </mat-list-item>
        <mat-list-item class ="channelHeader"><h3 matLine>Private Channel 2</h3>
          <a routerLink="/chat">
            <mat-icon>settings
            </mat-icon>
          </a>
          <a routerLink="/delete">
            <mat-icon>clear
            </mat-icon>
          </a>
        </mat-list-item>
        <mat-list-item class ="channelHeader"><h3 matLine>Private Channel 3</h3>
            <a routerLink="/chat">
              <mat-icon>settings
              </mat-icon>
            </a>
            <a routerLink="/delete">
              <mat-icon>clear
              </mat-icon>
            </a>
          </mat-list-item>
    </mat-list>
    </div>
    <div *ngIf= "friendChannelSelect">
    <mat-list>
        <mat-list-item class ="channelHeader"><h3 matLine>Friend 1</h3>
          <a routerLink="/chat">
            <mat-icon>settings
            </mat-icon>
          </a>
          <a routerLink="/delete">
            <mat-icon>clear
            </mat-icon>
          </a>
        </mat-list-item>
        <mat-list-item class ="channelHeader"><h3 matLine>Friend 2</h3>
          <a routerLink="/chat">
            <mat-icon>settings
            </mat-icon>
          </a>
          <a routerLink="/delete">
            <mat-icon>clear
            </mat-icon>
          </a>
        </mat-list-item>
          <mat-list-item class ="channelHeader"><h3 matLine>Friend 3</h3>
            <a routerLink="/chat">
              <mat-icon>settings
              </mat-icon>
            </a>
            <a routerLink="/delete">
              <mat-icon>clear
              </mat-icon>
            </a>
          </mat-list-item>
    </mat-list>
    </div>

    <br>
    <button class="joinCreate" style="margin-bottom:0px;bottom:16vh;">Join Channel</button>
    <button class="joinCreate" >Create Channel</button>

  <div class="icon">
      <a routerLink="home"><mat-icon inline="true">home</mat-icon></a>
      <a routerLink="profile"><mat-icon inline ="true">account_box</mat-icon></a>
      <a routerLink="setting"><mat-icon inline="true">build</mat-icon></a>

</div>
</mat-sidenav-container>
