<mat-sidenav-container>
    <mat-button-toggle-group class="channelSelector mat-elevation-z0">
        <mat-button-toggle (click)="selectPublicChannel()" checked>Public</mat-button-toggle>
        <mat-button-toggle (click)="selectPrivateChannel()">Private</mat-button-toggle>
        <mat-button-toggle (click)="selectFriend()">Friend</mat-button-toggle>
    </mat-button-toggle-group>
    <div class="scrollable">
        <div *ngIf="publicChannelSelect">
            <mat-nav-list>
                <div *ngFor="let publicChannel of publicChannels">
                    <mat-list-item
                        (click)="selectChannel(publicChannel.channelId); switchDisplay(chatBox)"
                        [ngClass]="publicChannel.selected ? 'channelRan' : 'channelHeader'"
                    ><h3 matLine>{{ publicChannel.channelName }}</h3>
                        <a routerLink="/chat">
                            <mat-icon>settings</mat-icon>
                        </a>
                        <a routerLink="/delete">
                            <mat-icon>clear</mat-icon>
                        </a>
                    </mat-list-item>
                </div>
            </mat-nav-list>
        </div>

        <div *ngIf="privateChannelSelect">
            <mat-nav-list>
                <div *ngFor="let privateChannel of privateChannels">
                    <mat-list-item
                        (click)="selectChannel(privateChannel.channelId); switchDisplay(chatBox)"
                        [ngClass]="privateChannel.selected ? 'channelRan' : 'channelHeader'"
                    ><h3 matLine>{{ privateChannel.channelName }}</h3>
                        <a routerLink="/chat">
                            <mat-icon>settings</mat-icon>
                        </a>
                        <a routerLink="/delete">
                            <mat-icon>clear</mat-icon>
                        </a>
                    </mat-list-item>
                </div>
            </mat-nav-list>
        </div>

        <div *ngIf="friendChannelSelect">
            <mat-nav-list>
                <div *ngFor="let friendChannel of friendsChannels">
                    <mat-list-item
                        (click)="selectChannel(friendChannel.channelId); switchDisplay(chatBox)"
                        [ngClass]="friendChannel.selected ? 'channelRan' : 'channelHeader'"
                    ><h3 matLine>{{ friendChannel.channelName }}</h3>
                        <a routerLink="/chat">
                            <mat-icon>settings</mat-icon>
                        </a>
                        <a routerLink="/delete">
                            <mat-icon>clear</mat-icon>
                        </a>
                    </mat-list-item>
                </div>
            </mat-nav-list>
        </div>
    </div>
    <br/>
    <div>
        <button class="joinCreate" style="margin-bottom:0px;bottom:18vh;">Join Channel</button>
        <button (click)="joinChannel()" class="joinCreate">Create Channel</button>
    </div>

    <div class="icon">
        <a (click)="switchDisplay(channelBrowser)" routerLink="home">
            <mat-icon inline="true">home</mat-icon>
        </a>
        <a (click)="switchDisplay(profile)" routerLink="profile">
            <mat-icon inline="true">account_box</mat-icon>
        </a>
        <a routerLink="setting">
            <mat-icon inline="true">build</mat-icon>
        </a>
    </div>
</mat-sidenav-container>
