


<mat-sidenav-container>
    <mat-list>
      <h2> Public Channel</h2>
        <mat-list-item><h3 matLine>Channel 1</h3>
          <a routerLink="/chat">
            <mat-icon>chat_bubble
            </mat-icon>
          </a>
          <a routerLink="/delete">
            <mat-icon>clear
            </mat-icon>
          </a>
        </mat-list-item>
        <mat-list-item><h3 matLine>Channel 2</h3>
          <a routerLink="/chat">
            <mat-icon>chat_bubble
            </mat-icon>
          </a>
          <a routerLink="/delete">
            <mat-icon>clear
            </mat-icon>
          </a>
        </mat-list-item>  <mat-list-item><h3 matLine>Channel 3</h3>
            <a routerLink="/chat">
              <mat-icon>chat_bubble
              </mat-icon>
            </a>
            <a routerLink="/delete">
              <mat-icon>clear
              </mat-icon>
            </a>
          </mat-list-item>
    </mat-list>

    <mat-list>
      <h2> Private Channel</h2>
        <mat-list-item><h3 matLine>Private Channel 1</h3>
          <a routerLink="/chat">
            <mat-icon>chat_bubble
            </mat-icon>
          </a>
          <a routerLink="/delete">
            <mat-icon>clear
            </mat-icon>
          </a>
        </mat-list-item>
        <mat-list-item><h3 matLine>Private Channel 2</h3>
          <a routerLink="/chat">
            <mat-icon>chat_bubble
            </mat-icon>
          </a>
          <a routerLink="/delete">
            <mat-icon>clear
            </mat-icon>
          </a>
        </mat-list-item>  <mat-list-item><h3 matLine>Private Channel 3</h3>
            <a routerLink="/chat">
              <mat-icon>chat_bubble
              </mat-icon>
            </a>
            <a routerLink="/delete">
              <mat-icon>clear
              </mat-icon>
            </a>
          </mat-list-item>
    </mat-list>

    <mat-list>
      <h2> Friend List</h2>
        <mat-list-item><h3 matLine>Friend 1</h3>
          <a routerLink="/chat">
            <mat-icon>chat_bubble
            </mat-icon>
          </a>
          <a routerLink="/delete">
            <mat-icon>clear
            </mat-icon>
          </a>
        </mat-list-item>
        <mat-list-item><h3 matLine>Friend 2</h3>
          <a routerLink="/chat">
            <mat-icon>chat_bubble
            </mat-icon>
          </a>
          <a routerLink="/delete">
            <mat-icon>clear
            </mat-icon>
          </a>
        </mat-list-item>  <mat-list-item><h3 matLine>Friend 3</h3>
            <a routerLink="/chat">
              <mat-icon>chat_bubble
              </mat-icon>
            </a>
            <a routerLink="/delete">
              <mat-icon>clear
              </mat-icon>
            </a>
          </mat-list-item>
    </mat-list>

    <br>
  <div class="icon">
      <a routerLink="setting"><mat-icon inline="true">build</mat-icon></a>
      <a routerLink="home"><mat-icon inline="true">home</mat-icon></a>
      <a routerLink="profile"><mat-icon inline ="true">account_box</mat-icon></a>

</div>
</mat-sidenav-container>
