<mat-card class="scrollMe">
    <div class="mat-card-header">
        <mat-card-title>
            Subscribers
            <hr>
        </mat-card-title>
    </div>
    <div class="onlineUsers">
        <mat-card-title>
            Online
            <hr>
        </mat-card-title>
        <div>

        </div>

    </div>
    <div class="offlineUsers">
        <mat-card-title>
            Offline
            <hr>

        </mat-card-title>
        <div *ngFor="let user of subscribedUsers">
            {{user.username}}
        </div>
    </div>

</mat-card>
