mat-sidenav-container {
    height: 100%;
    overflow: hidden;
}

::ng-deep .mat-drawer-content {
    overflow: hidden;
}

mat-card {
    background-color: var(--element-color);
    border-radius: 0;
    border-top: 1px solid #f8f8f8;
    color: var(--primary-text-color);
    height: 100%;
    padding-left: 0;
}

mat-form-field {
    border-radius: 0.5rem;
    background-color: var(--element-color);
    width: 86%;
    margin-right: 50vh;
    color: var(--primary-text-color);
}

#scrollable {
    overflow-y: auto;
    box-sizing: border-box;
    height: 85%;
}

.userPicture {
    width: 5%;
}

.clickable {
    cursor: pointer;
    color: var(--primary-color);
    align-items: center;
}

hr {
    border: 1px solid #ececec;
}

mat-card-title {
    color: var(--primary-color);
}

mat-card-footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    margin-top: 10vh;
}

p {
    color: var(--primary-text-color);
}

mat-label {
    color: var(--primary-text-color);
    padding-left: 0.5rem;
}

.chat-box-header {
    width: 100%;
}

.userProfilePicture {
    font-size: 128px;
    height: auto;
    overflow: visible;
    white-space: normal;
    width: 22%;
    border-radius: 50%;
}

.adminImage {
    font-size: 128px;
    height: auto;
    overflow: visible;
    white-space: normal;
    width: 22%;
    border-radius: 50%;
    position: relative;
    bottom: -0.5rem;
}

.navTitle {
    text-align: left;
    background-color: var(--element-color);
}

.statusMessage {
    font-size: 0.75em;
    float: right;
    margin-right: 2em;
}
