<mat-card class="scrollMe">
    <div class="mat-card-header">
        <mat-card-title>
            Subscribers
            <hr>
        </mat-card-title>
    </div>
    <div *ngFor="let user of onlineUsers" class="onlineUsers">
        <mat-card>
            <mat-card-title>Online
                <hr>
            </mat-card-title>
            {{user.username}}
        </mat-card>
    </div>
    <div *ngFor="let user of offlineUsers" class="offlineUsers">
        <mat-card>
            <mat-card-title>Offline
                <hr>
            </mat-card-title>
            {{user.username}}
        </mat-card>
    </div>

</mat-card>
