<div (clickOutside)="handleClose()" class="container" delayClickOutsideInit="true">
    <p (click)="handleClose()" id="xButton">X</p>
    <h1>Markdown Guide</h1>
    <p>
        The message box in which you type messages in supports a wide verity of markdown options, for you to add style
        and flair to your messages. Here is a run down of all of the options available to you
    </p>
    <h2>Keyboard Usage</h2>
    <p>There are a couple useful keyboard shortcuts to know:</p>
    <ul>
        <li>Enter: Press enter anytime to send a message.</li>
        <li>
            Shift+Enter: Press shift enter to enter a new line into your text. (<i
                >Note: multiple consecutive newlines that that are not part of a code block will be collapsed into one
                new line.</i
            >)
        </li>
        <li>@ key: press the '@' key anytime to start "mentioning" a user. See mentioning a user list</li>
        <li>
            Up and down arrow keys: While mentioning, use the up and down arrow keys to select and highlight a user to
            mention. Press the enter key to select the user you've selected.
        </li>
    </ul>
    <h2>Headers</h2>
    <code>
        # H1<br />
        ## H2<br />
        ### H3<br />
        #### H4<br />
        ##### H5<br />
        ###### H6<br />
    </code>
    <p>produces..</p>
    <markdown># H1</markdown>
    <markdown>## H2</markdown>
    <markdown>### H3</markdown>
    <markdown>#### H4</markdown>
    <markdown>##### H5</markdown>
    <markdown>###### H6</markdown>
    <i>Note: must include space after '#'s to display as header.</i>
    <h2>Emphasis</h2>
    <h3>Italics</h3>
    <pre>*asterisks* or _underscores_</pre>
    <p>produces...</p>
    <markdown>*asterisks* or _underscores_</markdown>
    <h3>Bold</h3>
    <pre>**asterisks or __underscores__</pre>
    <p>produces...</p>
    <markdown>**asterisks or __underscores__</markdown>
    <h3>Combined bold and italicised</h3>
    <pre>**asterisks or _underscores_**</pre>
    <p>produces...</p>
    <markdown>**asterisks or _underscores_**</markdown>
    <h3>Strike through</h3>
    <pre>~~strike through~~</pre>
    <p>produces...</p>
    <markdown>~~strike through~~</markdown>
    <h2>Lists</h2>
    <p>In this example, leading spaces are shown with dots (⋅)</p>
    <pre>
        1. First ordered list item<br/>
        2. Another item<br/>
        ⋅⋅* Unordered sub-list.<br/>
        1. Actual numbers don't matter, just that it's a number<br/>
        ⋅⋅1. Ordered sub-list<br/>
        4. And another item.<br/>
        * Unordered list can use asterisks<br/>
        - or minuses<br/>
        + or pluses
    </pre>
    <p>produces...</p>
    <markdown>{{
        "1. First ordered list item\n2. Another item\n  * Unordered sub-list.\n1. Actual numbers don't matter, just that it's a number\n  1. Ordered sub-list\n4. And another item.\n* Unordered list can use asterisk\n- or minuses\n+ or pluses"
    }}</markdown>
    <h2>Links</h2>
    <pre>
        [Any text here](https://www.google.com)
    </pre>
    <p>produces...</p>
    <markdown>[Any text here](https://www.google.com)</markdown>
    <pre>
        [Any text here](https://www.google.com "Hover title here")
    </pre>
    <p>produces...</p>
    <markdown>[Any text here](https://www.google.com "Hover title here")</markdown>
    <pre>
        https://www.google.com (link by itself)
    </pre>
    <p>produces...</p>
    <markdown>https://www.google.com</markdown>
    <h2>Code and Syntax Highlighting</h2>
    <pre>
        Inline `code`
    </pre>
    <p>produces...</p>
    <markdown>Inline `code`</markdown>
    <pre>
        ```javascript<br>
        var s = "JavaScript syntax highlighting";<br>
        alert(s);<br>
        ```
    </pre>
    <p>produces...</p>
    <markdown>{{ '```javascript\nvar s = "JavaScript syntax highlighting";\nalert(s);\n```' }}</markdown>
    <p>Supported languages</p>
    <ul>
        <li>Java</li>
        <li>JavaScript</li>
        <li>Typescript</li>
        <li>CSS</li>
        <li>SASS</li>
        <li>C</li>
    </ul>
    <h2>Tables</h2>
    <pre>
        | Tables        | Are           | Cool  |<br>
        | ------------- |:-------------:| -----:|<br>
        | col 3 is      | right-aligned | $1600 |<br>
        | col 2 is      | centered      |   $12 |<br>
        | zebra stripes | are neat      |    $1 |<br>
    </pre>
    <p>produces...</p>
    <markdown>{{
        "| Tables | Are | Cool |\n" +
            " | ------------- |:-------------:| -----:|\n" +
            " | col 3 is | right-aligned | $1600 |\n" +
            " | col 2 is | centered | $12 |\n" +
            " | zebra stripes | are neat | $1 |"
    }}</markdown>
    <h2>Blockquotes</h2>
    <pre>
        > Blockquote line 1<br>
        > Blockquote line 2<br>
    </pre>
    <p>produces...</p>
    <markdown>{{ "> Blockquote line 1\n" + " > Blockquote line 2" }}</markdown>
    <h2>Horizontal Rule</h2>
    <pre>
        Three or more...<br>
        Asterisks<br>
        ***<br>
        Hyphens<br>
        ---<br>
        Underscores<br>
        ___<br>
    </pre>
    <p>produces...</p>
    <markdown>{{
        "Three or more...\n\n" + "Asterisks\n\n" + "***\n\n" + "Hyphens\n\n" + "---\n" + "Underscores\n" + "___"
    }}</markdown>
    <i>Note: must be surrounded by empty lines</i>
</div>
