<div class="container scrollMe">
    <h1>User Guide</h1>
    <p>This is a complete guide for Streamline Athletes</p>
    <h2>Browsing and Joining Channels</h2>
    <ul>
        <li>Click on "Browse Channels" either in the left hand sidebar or by clicking your profile icon in the top right</li>
        <li>A list of public channels will be displayed along with the amount of members in it</li>
        <li>Note: Public channels are sorted by popularity according to the amount of members</li>
        <li>By clicking on a channel you will be shown the channel description as well as have the ability to join the channel</li>
    </ul>
    <h2>Channel Chatbox</h2>
    <ul>
        <li>The channel chat box consists of the chat log as well as a right hand sidebar to display online/offline users</li>
        <li>The channel description can be accessed by clicking the channel name at the top of the chat box</li>
        <li>An invite can be sent to another user by clicking the send invite button in the top right of the chat box and then entering in the username</li>
        <li>Any users profile can be accessed by either clicking their name in the chat log or the right hand sidebar</li>
        <li>To mention another user in the channel, type "@" in the message box and a list of users will pop up</li>
        <ul>
        <li>If you mention someone they will be sent a notification that you have done so</li>
        <li>If you hover over your own message you have the ability to edit, delete, and react with an emoji to it</li>
        </ul>
        <li>Deleting a message will delete your message from the chat box but will not delete it from the database</li>
        <li>If you hover over another users message you have the ability to react with an emoji</li>
        <li>You can either react with an emoji by selecting one or by clicking on an already existing emoji</li>
    </ul>
    <h2>Creating Channels</h2>
    <ul>
        <li>A channel can be created by clicking "Create Channel" in the left hand sidebar</li>
        <li>Channel Name, Channel Type, and Channel Description are all required fields</li>
        <li>The created channel will show up in the left hand sidebar under the appropriate tab</li>
        <li>If you create a channel you will be granted admin privileges for the channel and a crown will be displayed beside your username in the Chatbox</li>
        <li>Note: Private Channels will not be displayed in the Channel Browser and only people you invite will be allowed to join</li>
    </ul>
    <h2>Admin Abilities</h2>
        <ul>
            <li>If you are the admin of a channel a crown will be displayed beside your username in the Chatbox</li>
            <li>Admins have the ability to edit the channel description and .....</li>
        </ul>
    <h2>Friends</h2>
    <ul>
        <li>Friends can be accessed by clicking the "Friends" tab in the left hand sidebar</li>
        <li>A list of current friends will be displayed</li>
        <li>Add a friend by typing in a username into "Add Friend..."</li>
        <li>To remove a friend simply click the "X" beside their name</li>
        <li>Note: A friends chat box is a private direct message with the other friend and no other users can be invited to it</li>
    </ul>
    <h2>Un-subscribing from a Channel</h2>
    <ul>
        <li>To unsubscribe from a channel simply click the "X" beside the channel name in the left hand sidebar</li>
        <li>You will be prompted to confirm or cancel un-subscribing</li>
        <li>If no other users are left in a channel the channel will be deleted</li>
    </ul>
    <h2>Profiles</h2>
    <ul>
        <li>Your profile page can be accessed by clicking your username in the top right and clicking "Profile"</li>
        <li>Here you will have the ability to edit any of your information</li>
        <li>To change your profile picture, simply hover over the profile picture and click "Select File"</li>
        <li>Any info you haven't submitted in the registration form will be displayed as "N/A"</li>
        <li>All your information on your profile page will be publicly visible to any other user</li>
        <li>Note: Other users profile can be accessed by clicking their username/profile icon in any channel</li>
    </ul>
    <h2>Settings</h2>
    <ul>
        <li>Access settings by clicking your username in the top right and clicking "Settings"</li>
        <li>Here you can turn on "Dark Theme" and also hide/show explicit content</li>
        <li>You also can update your email and change your password</li>
    </ul>
    <h2>Notifications</h2>
    <ul>
        <li>Notifications can be accessed by clicking the "Notification Bell" in the top right corner</li>
        <li>Here you will see your notifications sorted by "Public Invites", "Private Invites", "Friend Invites" and "General Notifications"</li>
        <li>Public, Private, and Friend invites are invites from other users to channels they have created</li>
        <ul>
        <li>You can either accept or deny these invites</li>
        <li>Accepting will re-direct you to the appropriate chat box and denying will not make you join the channel</li>
        </ul>
        <li>General notifications are notifications of users mentioning you in channels or of users accepting/denying your invites</li>
        <ul>
        <li>Clicking the message of the notification will result in you being re-directed to the channel and clicking the "X" will get rid of the notification</li>
        </ul>
        <li>If you have unread messages in a channel a red circle with the number of notifications will be displayed beside the channel name</li>
    </ul>
    <h2>Logout</h2>
    <ul>
        <li>To logout simply click your username in the top right and click "Logout"</li>
        <li>You will be redirected to the login screen</li>
    </ul>






</div>
