mat-card {
    background-color: var(--element-color);
    border-radius: 0vh;
    height: 100%;
    margin-right: 1vh;
    margin-top: 1vh;
    margin-left: 1vh;
}

mat-form-field {
    background-color: var(--element-color);
    width: 100%;
    color: var(--soft-black);
    left: 0vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

hr {
    border: 1px solid var(--background-color);
}

.mat-card-title .mat-card-header {
    margin-bottom: 0px !important;
}

.mat-card-header {
    margin-bottom: 0px !important;
}

.mat-card-title {
    margin-bottom: 0px !important;
}

mat-card-title {
    color: var(--soft-black);
    padding: 10px 0px 10px 0px;
}

.headerTop {
    background-color: var(--element-color);
    top: 4rem;
    margin-top: 1vh !important;
}

mat-label {
    color: var(--soft-black);
    padding-left: 0.5rem;
}

.container {
    height: 100%;
}

#searchBar {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.join {
    background-color: var(--primary-color);
    margin-right: 5vh;
    color: var(--element-color);
    text-align: center;
    cursor: pointer;
}

.joined {
    margin-right: 5vh;
    color: var(--soft-black);
    text-align: center;
}

.joinCreate:focus {
    outline: 0;
}

.joinCreate:hover {
    background-color: var(--element-hover-color);
}

mat-expansion-panel {
    background-color: var(--element-color);
    color: var(--soft-black);
    border-radius: 0 !important;
}

mat-expansion-panel:hover {
    background-color: var(--element-hover-color);
}

mat-expansion-panel.mat-expanded {
    background-color: var(--element-hover-color);
}

mat-panel-title,
mat-panel-description {
    color: var(--soft-black);
}

mat-panel-title {
    width: 20vh;
}

.mat-card {
    padding: 0px;
}

#scrollable {
    height: 82%;
    overflow-y: auto;
    z-index: 5;
    padding: 0px;
}
