mat-card {
    background-color: #5280e9;
    border-radius: 0vh;
    height: 100%;
    margin-right: 5px;
    margin-top: 1px;
    margin-left: 5px;
}

mat-form-field {
    background-color: var(--soft-black);
    width: 100%;
    color: #f8f8f8;
    left: 0vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

hr {
    border: 1px solid #f8f8f8;
}

.mat-card-title .mat-card-header {
    margin-bottom: 0px !important;
}

.mat-card-header {
    margin-bottom: 0px !important;
}

.mat-card-title {
    margin-bottom: 0px !important;
}

mat-card-title {
    color: #f8f8f8;
    padding: 10px 0px 10px 0px;
}

.headerTop {
    background-color: var(--soft-black);
    top: 4rem;
    margin-top: 1vh !important;
}

mat-label {
    color: #f8f8f8;
    padding-left: 0.5rem;
}

.container {
    height: 100%;
}

#searchBar {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.join {
    background-color: grey;
    margin-right: 5vh;
    color: white;
    text-align: center;
    cursor: pointer;
}

.joined {
    margin-right: 5vh;
    color: white;
    text-align: center;
}

.joinCreate:focus {
    outline: 0;
}

.joinCreate:hover {
    background-color: #696969;
}

mat-expansion-panel {
    background-color: var(--soft-black);
    color: #f8f8f8;
    border-radius: 0 !important;
}
mat-expansion-panel:hover {
    background-color: var(--primary-color);
}
mat-expansion-panel.mat-expanded {
    background-color: var(--primary-color);
}

mat-panel-title,
mat-panel-description {
    color: #f8f8f8;
}

mat-panel-title {
    width: 20vh;
}

.mat-card {
    padding: 0px;
}

#scrollable {
    height: 85%;
    overflow-y: auto;
    z-index: 5;
    padding: 0px;
}
