<div class="wrapper">
    <mat-card>
        <div class="icon">
            <mat-card-header>
                <b id="settingsTitle">Settings</b>
            </mat-card-header>
        </div>
        <mat-card-content>
            <hr/>
            <br/>
            <div class="settingsInfo">
                <mat-slide-toggle (change)="themeToggle($event)" *ngIf="settings.theme == 'dark'" checked
                >Dark Theme
                </mat-slide-toggle>
                <mat-slide-toggle (change)="themeToggle($event)" *ngIf="settings.theme == 'light'"
                >Dark Theme
                </mat-slide-toggle>
                <br>
                <mat-slide-toggle (change)="explicitToggle($event)" *ngIf="settings.explicit" checked
                >Explicit (see explicit content)
                </mat-slide-toggle>
                <mat-slide-toggle (change)="explicitToggle($event)" *ngIf="!settings.explicit"
                >Explicit (see explicit content)
                </mat-slide-toggle>
            </div>
        </mat-card-content>
    </mat-card>
</div>
