<div class="wrapper">
    <mat-card>
        <div class="icon">
            <mat-card-header>
                <b id="settingsTitle">Settings</b>
            </mat-card-header>
        </div>
        <mat-card-content>
            <hr/>
            <br/>
            <div class="settingsInfo">
                <mat-slide-toggle (change)="themeToggle($event)" *ngIf="settings.theme == 'dark'" checked
                >Dark Theme
                </mat-slide-toggle>
                <mat-slide-toggle (change)="themeToggle($event)" *ngIf="settings.theme == 'light'"
                >Dark Theme
                </mat-slide-toggle>
                <br/>
                <mat-slide-toggle (change)="explicitToggle($event)" *ngIf="settings.explicit" checked
                >Explicit (see explicit content)
                </mat-slide-toggle>
                <mat-slide-toggle (change)="explicitToggle($event)" *ngIf="!settings.explicit"
                >Explicit (see explicit content)
                </mat-slide-toggle>
            </div>
            <hr/>
            <div>
                <p><b>Email (click to update)</b></p>
                <p
                        (click)="editingEmail = true; this.emailForm.get('email').setValue(this.userProfile.email)"
                        *ngIf="!editingEmail"
                >
                    {{ userProfile.email }}
                </p>
                <form
                        (ngSubmit)="emailFormSubmit(emailForm)"
                        *ngIf="editingEmail"
                        [formGroup]="emailForm"
                        autocomplete="off"
                >
                    <mat-form-field appearance="fill" color="primary">
                        <mat-label>Email</mat-label>
                        <label for="email"></label
                        ><input
                            class="form-control"
                            formControlName="email"
                            id="email"
                            matInput
                            name="email"
                            required
                            type="email"
                    />
                        <mat-error *ngFor="let validation of common.validation_methods.email">
                            <mat-error
                                    *ngIf="
                                    formValidationService.checkIfFormElementInvalid(
                                        emailForm,
                                        'email',
                                        validation,
                                        emailFormSubmitAttempt
                                    )
                                "
                            >{{ validation.message }}</mat-error
                            >
                        </mat-error>
                    </mat-form-field>
                    <button mat-button type="submit">Save</button>
                </form>
            </div>
            <hr/>
            <div>
                <p><b>Change Password</b></p>
                <mat-error>{{ errorMessage }}</mat-error>
                <p>{{ successMessage }}</p>
                <form (ngSubmit)="changePasswordFormSubmit(passwordForm)" [formGroup]="passwordForm" autocomplete="off">
                    <mat-form-field appearance="fill" color="primary">
                        <mat-label>Old Password</mat-label>
                        <label for="oldPassword"></label>
                        <input
                                formControlName="oldPassword"
                                id="oldPassword"
                                matInput
                                name="oldPassword"
                                required
                                type="password"
                        />
                        <mat-error *ngFor="let validation of common.validation_methods.oldPassword">
                            <mat-error
                                    *ngIf="
                                    formValidationService.checkIfFormElementInvalid(
                                        passwordForm,
                                        'oldPassword',
                                        validation,
                                        changePasswordSubmitAttempt
                                    )
                                "
                            >{{ validation.message }}</mat-error
                            >
                        </mat-error>
                    </mat-form-field>
                    <br/>
                    <mat-form-field id="noMargin" appearance="fill" color="primary">
                        <mat-label>Password</mat-label>
                        <label for="password"></label>
                        <input
                                formControlName="password"
                                id="password"
                                matInput
                                name="password"
                                required
                                type="password"
                        />
                        <br/>
                        <mat-hint>Minimum 8 Characters</mat-hint>
                        <mat-error *ngFor="let validation of common.validation_methods.password">
                            <mat-error
                                    *ngIf="
                                    formValidationService.checkIfFormElementInvalid(
                                        passwordForm,
                                        'password',
                                        validation,
                                        changePasswordSubmitAttempt
                                    )
                                "
                            >{{ validation.message }}</mat-error
                            >
                        </mat-error>
                    </mat-form-field>
                    <br/>
                    <mat-form-field appearance="fill" color="primary">
                        <mat-label>Confirm password</mat-label>
                        <label for="confirmPassword"></label>
                        <input
                                formControlName="confirmPassword"
                                id="confirmPassword"
                                matInput
                                name="confirmPassword"
                                required
                                type="password"
                        />
                        <mat-error *ngFor="let validation of common.validation_methods.confirmPassword">
                            <mat-error
                                    *ngIf="
                                    passwordForm.get('confirmPassword').hasError(validation.type) ||
                                    passwordForm.hasError(validation.type)
                                "
                            >{{ validation.message }}</mat-error
                            >
                        </mat-error>
                    </mat-form-field>
                    <br/>
                    <button mat-button type="submit">Change password</button>
                </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>
