<div class="container">
    <mat-card class="scrollMe">
        <div class="headerTop">
            <mat-card-header class="chat-box-header">
                <mat-card-title class="chat-box-title">{{ currentChannel.channelName }}</mat-card-title>
                <!-- TODO: remove this in friends channels -->
                <div class="invite">
                    <button (click)="toggleInviting()" *ngIf="!inviting" class="inviteButton" mat-button>
                        Send Invite
                    </button>
                    <button (click)="toggleInviting()" *ngIf="inviting" class="inviteButton" mat-button>Cancel</button>
                    <div *ngIf="inviting" class="search">
                        <form (ngSubmit)="inviteFormSubmit()" autocomplete="off">
                            <mat-form-field>
                                <mat-label>Search for person to invite</mat-label>
                                <input (input)="onKey($event)" class="inviteSearch" matInput name="users"/>
                            </mat-form-field>
                        </form>
                        <div *ngFor="let user of inviteSearchList">
                            <mat-card *ngIf="user.username != auth.getAuthenticatedUser().getUsername()">
                                <mat-card-title>{{ user.username }}</mat-card-title>
                                <mat-card-content>
                                    <div
                                        *ngIf="subscribedUsersUsernames.includes(user.username); else elseBlock1"
                                        class="subedOrSent"
                                    >
                                        Subscribed
                                    </div>
                                    <ng-template #elseBlock1>
                                        <div
                                            *ngIf="
                                                this.channelNotificationsUsernames.includes(user.username);
                                                else elseBlock2
                                            "
                                            class="subedOrSent"
                                        >
                                            Invite Sent
                                        </div>
                                        <ng-template #elseBlock2>
                                            <button (click)="sendInvite(user.username)" mat-button>Send Invite</button>
                                        </ng-template>
                                    </ng-template>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </mat-card-header>
        </div>
        <p>{{ error }}</p>
        <hr/>
        <div #scrollframe (scroll)="onScroll()" id="scrollable">
            <div *ngFor="let chatMessage of chatMessages">
                <mat-card-header>
                    <mat-card-title (click)="goToProfile(chatMessage.username)" class="clickable">
                        <img
                            class="messagePicture"
                            inline="true"
                            onerror="this.onerror=null; this.src='assets/icon-alt.PNG'"
                            src="https://i.imgur.com/32SZPXv.png"
                        />
                        {{ chatMessage.username }}
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>{{ chatMessage.content }}</p>
                </mat-card-content>
                <hr/>
            </div>
        </div>
        <br/><br/>
        <div class="footerTop">
            <mat-card-footer>
                <form #messageForm="ngForm" (ngSubmit)="sendMessage(messageForm.form)" autocomplete="off">
                    <mat-form-field>
                        <mat-label>Message</mat-label>
                        <input matInput name="content" ngModel placeholder="Enter Message"/>
                    </mat-form-field>
                </form>
            </mat-card-footer>
        </div>
    </mat-card>
</div>
