mat-card {
  background-color: #4051B6;
  height: 27rem;
  overflow-y: auto;
  margin-top: 1rem;
}
mat-form-field {
  width: 90%;
  border-radius: 0.5rem;
  background-color: white;
  margin-top:1rem;
}
hr {
  border: 1px dashed black;
}
.footer {

  height:5rem;
  width: 100%;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  position: fixed;
  bottom: 0pt;
  margin-bottom: 0.5rem;

}
.footer_contents {

  height:5rem;
  width: 100%;
  margin:auto;

}



