<div class="container">
  <mat-card>
    <mat-card-header>
      <img mat-card-avatar>
      <mat-card-title>Message Box</mat-card-title>
    </mat-card-header>
    <p>{{error}}</p>
    <hr>
    <div *ngFor="let chatMessage of chatMessages">
      <mat-card-header>
        <mat-card-title>{{chatMessage.username}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{chatMessage.content}}</p>
      </mat-card-content>
    </div>
    <hr>
  </mat-card>
  <div class="footer">

    <div class="footer_contents">
      <form (ngSubmit)="sendMessage(messageForm.value)" #messageForm="ngForm" autocomplete="off">
        <mat-form-field>
          <mat-label>Message</mat-label>
          <input matInput placeholder="Enter Message" ngModel name="content">
        </mat-form-field>
      </form>
    </div>

  </div>

</div>
