mat-card {
    background-color: var(--element-color);
    border-radius: 0;
    border-top: 1px solid #f8f8f8;
    height: 100%;
}

mat-form-field {
    border-radius: 0.5rem;
    background-color: var(--element-color);
    width: 86%;
    margin-right: 50vh;
    color: var(--primary-text-color);
}

#scrollable {
    overflow-y: auto;
    margin-top: 1rem;
}

.messagePicture {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    vertical-align: middle;
}

.clickable {
    cursor: pointer;
    color: var(--primary-color);
}

hr {
    border: 1px solid var(--soft-black);
}

hr::ng-deep pre {
    border: 1px solid var(--element-color);
}

mat-card-title {
    color: var(--primary-color);
}

.headerTop {
    background-color: var(--element-color);
    width: 100%;
}

mat-card-footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    margin-top: 10vh;
}

p {
    color: var(--primary-text-color);
}

mat-label {
    color: var(--primary-text-color);
    padding-left: 0.5rem;
}

.chat-box-header {
    width: 100%;
}

.invite {
    color: var(--primary-text-color);
    border-radius: 0;
    position: absolute;
    right: 1.1%;
}

.inviteButton {
    border-radius: 0;
    background-color: var(--primary-color);
    color: white;
}

.inviteButton:hover {
    background-color: var(--primary-color);
}

.inviteSearch {
    color: var(--primary-text-color);
}

.invite mat-card {
    background-color: var(--primary-color);
    width: 92%;
    margin-top: 0;
    color: var(--primary-text-color);
}

.search mat-card-content {
    position: absolute;
    right: 1%;
    top: 25%;
}

.search button {
    border-radius: 0;
}

.search button:hover {
    background-color: var(--primary-color);
}

.invite mat-form-field {
    border-radius: 0;
    width: 100%;
    margin-right: 20vh;
    margin-bottom: 0;
}

.search {
    background-color: var(--soft-black);
    border: 1px solid black;
    padding: 1px;
}

.subedOrSent {
    margin-right: 1.25rem;
    color: white;
}

.sendInviteButton {
    color: white;
}

.errorMessage {
    color: dimgrey;
}

.usernameInvite {
    color: white;
}

::placeholder {
    color: white;
    opacity: 1;
}

#messageForm {
    width: 68%;
}

markdown ::ng-deep p code {
    background-color: var(--soft-black);
    padding-left: 0.3em;
    padding-right: 0.3em;
    border-radius: 10%;
    color: white;
    font-family: Consolas;
}

markdown ::ng-deep .lang-type {
    background-color: var(--primary-color);
    padding: 0.5rem;
    position: relative;
    bottom: 0.7rem;
    left: -1rem;
    border-radius: 10%;
}

markdown ::ng-deep pre {
    background-color: var(--soft-black);
    width: 95%;
}

.message {
    font-size: 1.2em;
}

.message:hover {
    background-color: var(--element-hover-color);
}

.message mat-icon {
    visibility: hidden;
}

.message:hover mat-icon {
    visibility: visible;
}

.icons {
    float: right;
}

.icons:hover {
    cursor: pointer;
}

.status {
    text-align: center;
}

.deletedMessage {
    font-size: 1em;
    color: dimgrey;
}

.inputArea {
    width: 70%;
    padding: 10px 10px;
    background-color: var(--element-hover-color);
}

.channelDescriptionTextArea {
    background-color: var(--scroll-background);
    color: #424242;
}

.channelDescButton {
    border-radius: 0;
    margin-left: 1em;
}

.channelDescButton:hover {
    background-color: #717171;
}

#descMessage {
    font-size: 0.75rem;
    color: #636363;
}

.mat-form-field-underline {
    display: none;
}

textarea {
    color: var(--primary-text-color);
    resize: none;
    overflow-y: scroll;
    max-height: 10rem;
}

.chat-box-title {
    color: var(--primary-color);
}

mat-expansion-panel {
    width: 85%;
    background-color: var(--element-color);
    color: var(--primary-text-color);
    margin-left: -1.5em;
}

mat-expansion-panel:hover {
    background-color: var(--element-hover-color);
}

.defaultHeight {
    height: 80%;
}

.page {
    height: 100%;
}

.wrapper {
    height: 100%;
    // max-width: 1160px;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
    min-height: 600px;
}

.content-wrapper {
    height: 100%;
    float: left;
    width: 100%;
}

.content {
    height: 100%;
    margin-right: 250px;
    clear: both;
    min-height: 600px;
}

.container {
    height: 100%;
}

.sidebar {
    position: relative;
    width: 250px;
    margin-left: -250px;
    float: right;
    min-height: 600px;
    height: 100%;
}

.mentionList {
    background-color: white;
}

.selected {
    background-color: yellow;
}
