.navbar {
    justify-content: space-between;
}

span {
    padding-right: 1rem;
}

.mat-display-2 {
    margin-top: 3rem;
    text-align: center;
}

.btn-primary {
    margin-bottom: 3rem;
}

mat-form-field {
    margin-bottom: 2rem;
}

.row {
    text-align: center;
}
