mat-card {
    background: var(--soft-black);
}

mat-card-content {
    margin-left: 1vh;
    margin-right: 1vh;
    padding-bottom: 3vh;
    color: white;
}

mat-card-header {
    color: white;
}

mat-icon {
    margin-bottom: 0.5vh;
}

.icon {
    font-size: 64px;
}

.profilePicture {
    float: right;
    margin-right: 1vh;
    border-style: solid;
    border-color: var(--soft-black);
    border-radius: 0.5vh;
    font-size: 128px;
    height: auto;
    overflow: visible;
    white-space: normal;
    width: 10%;
}

.wrapper {
    width: 60%;
    margin: auto;
}

button {
    float: right;
    margin-right: 5vh;
    color: white;
    background-color: var(--soft-black);
    width: 14vh;
}

#profileTitle {
    font-size: 43px;
    margin-left: 1vh;
}

.wrapper {
    margin-top: 2vh;
}

.nameHeaders {
    font-size: 1.1em;
}

input {
    width: 70%;
    padding: 5px 5px;
    border-radius: 1px;
    border: 2px solid white;

}

input:focus {
    border: 2px solid var(--soft-black);
}

button {
    border-radius: 0;
}

button:hover {
    background-color: var(--primary-color);
}


