mat-card {
    background: var(--element-color);
}

mat-card-content {
    margin-left: 1vh;
    margin-right: 1vh;
    padding-bottom: 3vh;
    color: var(--primary-text-color);
}

mat-card-header {
    color: var(--primary-color);
}

mat-icon {
    margin-bottom: 0.5vh;
}

.icon {
    font-size: 64px;
}

.wrapper {
    width: 60%;
    margin: auto;
}

button {
    float: right;
    margin-right: 5vh;
    color: var(--primary-text-color);
    background-color: var(--element-color);
    width: 14vh;
}

#settingsTitle {
    font-size: 43px;
    margin-left: 1vh;
}

.wrapper {
    margin-top: 2vh;
}

.nameHeaders {
    font-size: 1.1em;
}

input {
    width: 70%;
    padding: 10px 10px;
    color:var(--primary-text-color);
    background-color: var(--element-hover-color);
}

input:focus {
    border: 2px solid var(--element-hover-color);
}

button {
    border-radius: 3px;
    background-color: var(--primary-color);
    color: white;
}

.profilePicture {
    border-radius: 50%;
}

#imageInput {
    display: none;
}

#imageButton {
    z-index: 100;
    position: absolute;
    top: 19vh;
    left: 4.9rem;
    font-size: 0.75rem;
}

.profileError {
    font-size: 0.7rem;
}
