<div *ngIf="userProfile" class="wrapper">
    <mat-card>
        <div class="icon">
            <mat-card-header>
                <img
                    class="profilePicture"
                    inline="true"
                    onerror="this.onerror=null; this.src='assets/icon-alt.PNG'"
                    src="https://streamline-athletes-messaging-app.s3.ca-central-1.amazonaws.com/user-profile-images/default.png"
                />
                <b id="profileTitle">{{ userProfile.username }}'s Profile</b>
            </mat-card-header>
        </div>
        <mat-card-content>
            <hr/>
            <br/>
            <p>{{ editSaveMessage }}</p>

            <div *ngIf="userProfile && !editing" class="profileInfo">
                <p class="nameHeaders"><b>Username</b></p>
                <p>{{ userProfile.username }}</p>
                <hr/>
                <div *ngIf="userProfile.email">
                    <p class="nameHeaders"><b>Email</b></p>
                    <p>{{ userProfile.email }}</p>
                </div>
                <hr/>
                <p class="nameHeaders"><b>First Name</b></p>
                <p>{{ userProfile.firstName }}</p>
                <hr/>
                <p class="nameHeaders"><b>Last Name</b></p>
                <p>{{ userProfile.lastName }}</p>
                <hr/>
            </div>
            <div
                *ngIf="
                    userProfile &&
                    editing &&
                    this.userProfile.username === this.auth.getAuthenticatedUser().getUsername()
                "
                class="profileInfo"
            >
                <p class="nameHeaders"><b>Username</b></p>
                <p>{{ userProfile.username }}</p>
                <hr/>
                <form (ngSubmit)="editFormSubmit(editForm)" [formGroup]="editForm">
                    <p class="nameHeaders"><b>Email</b></p>
                    <input autocomplete="off" formControlName="email" id="email" name="email" required type="email"/>
                    <mat-error *ngFor="let validation of common.validation_methods.email">
                        <mat-error
                            *ngIf="
                                formValidationService.checkIfFormElementInvalid(
                                    editForm,
                                    'email',
                                    validation,
                                    submitAttempt
                                )
                            "
                        >
                            {{ validation.message }}
                        </mat-error>
                    </mat-error>
                    <hr/>
                    <p class="nameHeaders"><b>First Name</b></p>
                    <input
                        autocomplete="off"
                        formControlName="firstName"
                        id="firstName"
                        name="firstName"
                        required
                        type="text"
                    />
                    <mat-error *ngFor="let validation of common.validation_methods.firstName">
                        <mat-error
                            *ngIf="
                                formValidationService.checkIfFormElementInvalid(
                                    editForm,
                                    'firstName',
                                    validation,
                                    submitAttempt
                                )
                            "
                        >
                            {{ validation.message }}
                        </mat-error>
                    </mat-error>
                    <hr/>
                    <p class="nameHeaders"><b>Last Name</b></p>
                    <input
                        autocomplete="off"
                        formControlName="lastName"
                        id="lastName"
                        name="lastName"
                        required
                        type="text"
                    />
                    <mat-error *ngFor="let validation of common.validation_methods.lastName">
                        <mat-error
                            *ngIf="
                                formValidationService.checkIfFormElementInvalid(
                                    editForm,
                                    'lastName',
                                    validation,
                                    submitAttempt
                                )
                            "
                        >
                            {{ validation.message }}
                        </mat-error>
                    </mat-error>
                    <hr/>
                    <button *ngIf="editing" mat-button type="submit">
                        Save
                    </button>
                </form>
            </div>
            <button
                (click)="toggleEditing(true)"
                *ngIf="this.userProfile.username === this.auth.getAuthenticatedUser().getUsername() && !editing"
                mat-button
            >
                Edit
            </button>
        </mat-card-content>
    </mat-card>
</div>
