<div class="container">
    <div class="searchbar">
        <form #messageForm="ngForm" (ngSubmit)="sendQuery()" autocomplete="off">
            <mat-form-field>
                <mat-label>Search...</mat-label>
                <input (input)="onKey($event)" matInput name="content" />
            </mat-form-field>
        </form>
            <div *ngIf="searching" class="overlapper">
                <div *ngFor="let friend of inviteSearchList">
                <p>{{friend.username}}
                    <div *ngIf="!this.friendList.username.includes(friend.username); else joined"
                    <mat-icon (click)="sendInvite(friend.username)">clear</mat-icon>
                    <ng-template #joined>
                    <mat-icon>checkmark</mat-icon>
                    </ng-template>
                </p>
                </div>
            </div>
    </div>



</div>
