<div class="container">
    <div class="searchbar">
        <form #messageForm="ngForm" (ngSubmit)="sendQuery()" autocomplete="off">
            <mat-form-field>
                <mat-label>Add Friend...</mat-label>
                <label>
                    <input #inputForm (input)="onKey($event)" matInput name="content"/>
                </label>
            </mat-form-field>
        </form>
        <div *ngIf="searching" class="overlapper">
            <div *ngFor="let friend of inviteSearchList">
                <div *ngIf="friend.username != auth.getAuthenticatedUser().getUsername()">
                    <mat-card>
                        <mat-card-title>{{ friend.username }}</mat-card-title>
                        <div *ngIf="this.friendNotifications">
                            <div *ngIf="this.friendNotificationUsernames.includes(friend.username); else noFriend">
                                <button class="right noClick" mat-button style="display: block;">Pending</button>
                            </div>
                        </div>

                        <ng-template #noFriend>
                            <div
                                *ngIf="this.findFriendChannel(friend.username); else notPending"
                                style="display: inline"
                            >
                                <button class="right noClick" mat-button style="display: block;">
                                    Already Friends
                                </button>
                            </div>
                            <ng-template #notPending style="display: inline">
                                <button
                                    (click)="sendInvite(friend.username)"
                                    class="right"
                                    mat-button
                                    style="display: block;"
                                >
                                    Send Invite
                                </button>
                            </ng-template>
                        </ng-template>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>
